---
---

@import "{{ site.theme }}";

#skip-to-content {
	left: -999px;
	position: absolute;
	top: auto;
	width: 1px;
	height: 1px;
	overflow: hidden;
	z-index: -999;
}
#skip-to-content:focus,
#skip-to-content:active {
	color: #fff;
	background-color: #159957;
	left: auto;
	top: auto;
	width: 30%;
	height: auto;
	overflow: auto;
	margin: 10px 35%;
	padding: 5px;
	border-radius: 15px;
	border: 4px solid #155799;
	text-align: center;
	font-size: 1.2em;
	z-index: 999;
}

table {
	width: 100%;
}

/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before,
.group:after {
	content: "";
	display: table;
}
.group:after {
	clear: both;
}
.group {
	zoom: 1; /* For IE 6/7 */
}

/*  GRID OF TWELVE  */
.span_12_of_12 {
	width: 100%;
}

.span_11_of_12 {
	width: 91.53%;
}
.span_10_of_12 {
	width: 83.06%;
}

.span_9_of_12 {
	width: 74.6%;
}

.span_8_of_12 {
	width: 66.13%;
}

.span_7_of_12 {
	width: 57.66%;
}

.span_6_of_12 {
	width: 49.2%;
}

.span_5_of_12 {
	width: 40.73%;
}

.span_4_of_12 {
	width: 32.26%;
}

.span_3_of_12 {
	width: 23.8%;
}

.span_2_of_12 {
	width: 15.33%;
}

.span_1_of_12 {
	width: 6.866%;
}

@media only screen and (max-width: 850px) {
	.col {
		margin: 1% 0 1% 0%;
	}

	.span_1_of_12,
	.span_2_of_12,
	.span_3_of_12,
	.span_4_of_12,
	.span_5_of_12,
	.span_6_of_12,
	.span_7_of_12,
	.span_8_of_12,
	.span_9_of_12,
	.span_10_of_12,
	.span_11_of_12,
	.span_12_of_12 {
		width: 100%;
	}
}
